*{
margin: 0px;
padding: 0px;
}
body{
	font-family: 'Lobster Two', cursive;
	font-size: 14px;
	line-height: 24px;
	margin: 40px;
}
h1, h2, h3, h4, h5, h6{
		font-family: 'Poppins', sans-serif;
		
}
a,a:hover{
	text-decoration: none;
}
.bdflag{
	height: auto;
	width: 1140px;
	margin-left: 20px;
}
.black{
	height: 610px;
	width: 8px;
	background: black;
	float: left;
}
.gray{
	height: 3px;
	width: 24px;
	background: gray;
	float: left;
	margin: 13px 0px 0px 8px;
	position: absolute;
	z-index: 2;
}
.gray1{
	height: 3px;
	width: 24px;
	background: gray;
	float: left;
	position: absolute;
	margin: 383px 0px 0px 8px;
	z-index: 2;
}
.white{
	height: 8px;
	width: 8px;
	border-radius: 100%;
	background: white;
	float: left;
	position: absolute;
	margin: 10px 0px 0px 25px;
	z-index: 2;
}
.white1{
	height: 8px;
	width: 8px;
	border-radius: 100%;
	background: white;
	float: left;
	position: absolute;
	margin: 380px 0px 0px 25px;
	z-index: 2;
}
.green{
	height: 400px;
	width: 800px;
	background: green;
	position: relative;
	margin: 20px;
	z-index: 1;
}
.red{
	height: 200px;
	width: 200px;
	background: red;
	border-radius: 100%;
	position: relative;
	top: 25%;
	left: 35%;
}
.blue{
	height: 150px;
	width: 150px;
	background: blue;
	border-radius: 100%;
	position: fixed;
	top: 5%;
	right: 5%;
}
.blue h3{
	color: white;
	text-align: center;
	margin: 60px 0px 0px 0px;
	font-weight: 700;
}
.bdflag h2{
	font-size: 30px;
	color: red;
	margin: 20px 10px 10px 120px;
}

.fbs{
	width: 120px;
	position: fixed;
	top: 36%;
	right: -97px;
	cursor: pointer;
	transition: 1s;
}
.fbs:hover{
	width: 120px;
	position: fixed;
	top: 36%;
	right: -5px;
}
.tws{
	width: 120px;
	position: fixed;
	top: 40%;
	right: -97px;
	cursor: pointer;
	transition: 1s;
}
.tws:hover{
	width: 120px;
	position: fixed;
	top: 40%;
	right: -5px;
}
.lis{
	width: 120px;
	position: fixed;
	top: 44%;
	right: -97px;
	cursor: pointer;
	transition: 1s;
}
.lis:hover{
	width: 120px;
	position: fixed;
	top: 44%;
	right: -5px;
}
.bes{
	width: 120px;
	position: fixed;
	top: 48%;
	right: -97px;
	cursor: pointer;
	transition: 1s;
}
.bes:hover{
	width: 120px;
	position: fixed;
	top: 48%;
	right: -5px;
}
.ins{
	width: 120px;
	position: fixed;
	top: 52%;
	right: -97px;
	cursor: pointer;
	transition: 1s;
}
.ins:hover{
	width: 120px;
	position: fixed;
	top: 52%;
	right: -5px;
}
.yts{
	width: 120px;
	position: fixed;
	top: 56%;
	right: -97px;
	cursor: pointer;
	transition: 1s;
}
.yts:hover{
	width: 120px;
	position: fixed;
	top: 56%;
	right: -5px;
}
.pis{
	width: 120px;
	position: fixed;
	top: 60%;
	right: -97px;
	cursor: pointer;
	transition: 1s;
}
.pis:hover{
	width: 120px;
	position: fixed;
	top: 60%;
	right: -5px;
}
/*	CSS for Social Media Icon  	*/

.socialmedia{
	width: 100%;
	float: left;
	height: 30px 0px;
	background: orange;
	margin: 20px;
	padding: 25px;
}
.socialicon{
	width: 100%;
	text-align: center;
}
.socialmedia li{
	list-style: none;
	display: inline-block;
}
.socialicon li a.fa{
	font-size: 24px;
	text-align: center;
	padding: 7px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 100%;
	transition: 1s;
}
.socialmedia li a.fa-facebook{
	background: #1094F4;
	color: white;
}
.socialmedia li a.fa-facebook:hover,.socialmedia li a.fa-facebook:focus{
	background: white;
	color: #1094F4;
}
.socialmedia li a.fa-twitter{
	background: #E8F5FD;	
	color: #1D9BF0;
}
.socialmedia li a.fa-twitter:hover,.socialmedia li a.fa-twitter:focus{
	background: #1D9BF0;
	color: #E8F5FD;
}
.socialmedia li a.fa-instagram{
	background: #DA2778;
	color: white;
}
.socialmedia li a.fa-instagram:hover,.socialmedia li a.fa-instagram:focus{
	background: white;
	color: #DA2778;
}
.socialmedia li a.fa-linkedin{
	background: #1094F4;
	color: white;
}
.socialmedia li a.fa-linkedin:hover,.socialmedia li a.fa-linkedin:focus{
	background: white;
	color: #1094F4;
}
.socialmedia li a.fa-behance{
	background: #1E6CF4;
	color: white;
}
.socialmedia li a.fa-behance:hover,.socialmedia li a.fa-behance:focus{
	background: white;
	color: #1E6CF4;
}
.socialmedia li a.fa-pinterest{
	background: #FF0000;
	color: white;
}
.socialmedia li a.fa-pinterest:hover,.socialmedia li a.fa-pinterest:focus{
	background: white;
	color: #FF0000;
}
.socialmedia li a.fa-youtube{
	background: #FF0000;
	color: white;
}
.socialmedia li a.fa-youtube:hover,.socialmedia li a.fa-youtube:focus{
	background: white;
	color: #FF0000;
}

.paragraph{
	width: 100%;
	float: left;
	margin: 20px;
}
.paragraph h2{
	text-align: center;
	text-decoration: underline;
	font-size: 36px;
	color: green;
	padding: 8px;

}
.paragraph p{
	text-align: justify;
	font-size: 22px;
	line-height: 32px;
	font-weight: 400;
	color: blueviolet;
	margin-top: 30px;
}